@import "varibles";
@import "fonts";
@import "header";

* {
  box-sizing: border-box;
  font-weight: normal;
}

html * {
  a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
  }

  ul, ol {
    list-style-type: none;

    &::marker {
      display: none;
    }
  }

  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
  color: $primary-color;
  font-size: $font-s;
}

.button {
  background: $darkBlue-color;
  border-radius: 2px;
  border: 2px solid transparent;
  transition: 0.2s;
  color: $button-color;

  &:hover {
    background: transparent;
    border-color: $dark-color;
    box-shadow: 0 2px 6px $dark-color;
    color: $dark-color;
    transition: 0.2s;
  }

  &_header {
    max-width: 160px;
    width: 100%;
    font-size: $font-xs;
  }
  &-group__button {
    max-width: 189px;
    width: 50%;
    padding: 5px 0;
    &:first-child {
      margin-right: 30px;
    }
  }
}

.title {
  color: $dark-color;

  &__header {
    font-size: $font-xl;
    margin-bottom: 20px;
    line-height: 66px;
  }
}

.text {
  font-size: $font-s;
  &-header {
    font-size: $font-m;

    &_bottom {
      margin-top: 20px;
      margin-bottom: 70px;
    }
  }
}