$primary-color: #262626;
$secondary-color: #4094EF;
$dark: #133768;
$light: #8F8F8F;
$light-gray: #DBDBDB;
$font-s: 12px;
$font-m: 14px;
$font-l: 17px;
$font-xl: 26px;
$font-semi-bold: 500;
$font-bold: 700;