mixin advantage-item
    .advantage-item
        img.advantage-item__img(
            src="assets/img/exaple-img.svg"
        )
        h3.advantage-item__title Title Goes Here
        p.advantage-item__text Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
