include ../mixin/button
mixin features-item (imagePath)
    .row.features
        .col-lg-6
            img.features__img(
                src=imagePath
            )
        .offset-lg-1.col-lg-5
            +content-item