include ../mixin/content-item
include ../mixin/advantage-item
include ../mixin/features
.container-fliud
    main.main.container
        .row.advantage-row
            .col-lg-6.advantage-col_top
                +content-item
                .row
                    .col-lg-12
                        .row.advantage
                            .col-sm-6
                                +advantage-item
                            .col-sm-6
                                +advantage-item
            .col-lg-6.advantage-col
                img.features__img(
                    src="assets/img/feature-form.svg"
                )
        +features-item("assets/img/feature-message.svg")
        +features-item("assets/img/feature-like.svg")
        +features-item("assets/img/feature-mail.svg")
.offer-wrapper.container-fliud
    .offer.container
        .offer__inner
            h2.title.
                A Price To Suit Everyone
            p.text.offer__text.
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus
            p.offer__price $40
            p.offer__name UI Design Kit
            .button-group.offer__button-group
                span.offer__tagline See, One price. Simple.
                +button("Purchase Now","button_offer")